.agenda {
  table-layout: fixed;
  width: 100%;
  white-space: pre-wrap;
  word-wrap: break-word;

  td {
    white-space: pre-wrap;
    word-wrap: break-word;
    text-overflow: ellipsis;
  }
  /* Column widths are based on these cells */
  .agenda-time {
    width: 40%;
  }
  .agenda-activity {
     width: 60%;
  }
  th, td {
    border: 1px solid #2945a4;
    font-size: 130%;
    padding: 15px;
  }
  th {
    background: #2945a4;
    color: white;
    letter-spacing: 1px;
    font-size: 150%;
  }
  td {
    color: #2945a4;
    text-align: center;
    a {
        text-decoration: none;
    }
    b {
        color: #00283c;
    }
  }
  td + td {
    text-align: left;
    padding-left: 10px;
  }
  .ongoingEvent {
    background-color:rgb(231, 231, 255);
  }
}

@media screen and (max-width: 760px){
    .agenda {
        .agenda-time {
            width: 40%;
        }
        .agenda-actiity {
            width: 60%;
        }
        td, th {
            font-size: 100%;
        }
        td {
            padding-left: 0px;
        }
        td + td {
            padding-left: 10px;
        }
    }
}

