{% capture cfs_details %}

_(click to close)_

Submit a talk about anything you think it's worth sharing with the *C++ Community*.

As C++ developers, C++ is important to us. However, we are happy to host talks on other topics that can inspire us.

🗣️ **English** or **Italian** talks are welcome. Confident with both? Go for English.

Talks are intended **in-person** only. We are not accepting remote-only nor pre-recorded sessions, but we'll **record and make them publicly available** after the conference. 

**We are unable to cover travel or accommodation expenses**: please submit a proposal **only** if you're reasonably certain you can attend the event.

### 🗳️ Voting and decisions ###

You are welcome to submit more than one talk proposal, but in the interest of giving space to a diverse range of voices, we will typically select only one talk per speaker.

The conference has no real dedicated program committee, if the number of total submissions exceeds the event capacity, we open a **poll**.

All attendees of the past and the staff are included in this voting.

Each vote is between `0` and `5` points per talk. Visible in the voting form are usually only the talk info (title, abstract, notes only if important for the voting).

Final decision is then made (and sent to speakers) once the voting deadline has passed.

{% endcapture %}

<section class="bg-light-gray text-center">
<a id="csf-form" class="push-down-anchor"></a>

<div class="text-center">
<h1>🎙️ Call for sessions 🎙️</h1>
</div>

<div class="text-center">    
    <h3><a href="https://docs.google.com/forms/d/e/1FAIpQLSdfbQ9fpCClwWmVsPKG5kviMDgVz7G67GxWmKcA3Kr04hOBwA/viewform?usp=header" target="_blank">📝 Go to this link to submit your proposal</a></h3>
</div>

<h3>Submissions deadline is August 25 with decisions sent by September 9.</h3>

<br/>

Need more details? Here below you will find more information about the submission process and guidelines.

<div>
    <a data-toggle="collapse" data-target="#cfs_details">Expand this section</a>
    <div id="cfs_details" class="collapse" data-toggle="collapse" data-target="#cfs_details">
        {{ cfs_details | markdownify }}
    </div>
</div>

</section>
