{% capture ugly_workaround %}

<br/>

<figure>
  <img src="https://italiancpp.org/assets/images/about/itcppcon19-crowd.jpg" alt="Italian C++ Conference 2019" style="width:90%">
</figure>

<br/>

<h4>Launched in 2016, <i>C++ Day</i> is a community-driven event format by the Italian C++ Community, co-organized with external partners like companies and universities.</h4>

The *C++ Day 2025* will be held in person on **October 25** in **Pavia**.

This event is a joint effort between the *Italian C++ Community* and <a href="https://seavision-group.it/">SEA Vision</a>, who is also generously hosting the event at their venue.

The event, free to attend, will run for half a day, with an optional visit to the <a href="https://www.ctrlalt.museum/">Ctrl+Alt Museum</a> to follow.

<br/>

**Why you cannot miss it:**

🎙️ **Tech talks** about C++ development and best practices 🎙️

💬 Face to face networking and activities 💡

👩‍💼 Interaction with company sponsors 👨‍💼

🆓 **Free** to attend 🆓

💙 **Organized with passion** by the Italian C++ Community 💙

<br/>

<h3>In a nutshell</h3>

The *C++ Day 2025* offers a balanced and enriching experience beyond the typical tech conference.

The morning features **two parallel tracks of technical talks**, with a coffee break and a lunch to network and recharge.

In the afternoon, we'll head together as a group to visit the <a href="https://www.ctrlalt.museum/">Ctrl+Alt Museum</a>, the retrocomputing museum (the visit is not free).

This format is designed to combine **deep technical content** with moments of **community**, **conversation**, and **cultural discovery**, creating a well-rounded experience.

<br/>

<h3>Sponsors wanted</h3>

Would you like to help make it possible to organize this event freely for everyone?

<a href="mailto:info@italiancpp.org">Reach out</a> for sponsoring!

{% endcapture %}

<section class="bg-light-gray text-center">
    <div class="narrow" markdown="1">
{{ ugly_workaround | markdownify }}
    </div>
</section>
