{% capture ugly_workaround %}

<br/>

<figure>
  <img src="https://italiancpp.org/assets/images/about/itcppcon19-crowd.jpg" alt="Italian C++ Conference 2019" style="width:90%">
</figure>

<br/>

<h4>Launched in 2016, <i>C++ Day</i> is a community-driven event format by the Italian C++ Community, co-organized with external partners like companies and universities.</h4>

The *C++ Day 2025* was held in person on **October 25** in **Pavia**.

This event was a joint effort between the *Italian C++ Community* and <a href="https://seavision-group.it/">SEA Vision</a>, who also generously hostied the event at their venue.

The event was free to attend, ran for an entire day, and included coffee breaks and lunch.

<h2>We had 165 attendees!</h2>

<h2>Read the <a href="https://italiancpp.org/posts/2025-10-25-cppday25/"></a>wrap-up post</a> about this event</h2>

<h4>Theme Song</h4>
<iframe width="560" height="315" src="https://www.youtube.com/embed/KbCUxxTaNjk?si=9OdOeVYdW6o-o1Da" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>

<br/>

**Why you cannot miss it:**

🎙️ **Tech talks** about C++ development and best practices 🎙️

💬 Face to face networking and activities 💡

👩‍💼 Interaction with company sponsors 👨‍💼

🆓 **Free** to attend 🆓

💙 **Organized with passion** by the Italian C++ Community 💙

<br/>

<h3>In a nutshell</h3>

The *C++ Day 2025* offers a balanced and enriching experience beyond the typical tech conference.

The morning features **one track of technical talks**, with two coffee breaks and lunch to network and recharge.

This format is designed to combine **deep technical content** with moments of **community** and **conversation** creating a well-rounded experience.

<br/>

{% endcapture %}

<section class="bg-light-gray text-center">
    <div class="narrow" markdown="1">
{{ ugly_workaround | markdownify }}
    </div>
</section>
