<!-- Talks Modals -->
{% for talk in site.data.schedule %}
  {% if talk.abstract %}
    <div class="portfolio-modal modal fade" id="talk_id_{{ talk.item | replace: " ", "_" | replace: "+", "p" | replace: ":", "_" }}" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-content">
            <div class="close-modal" data-dismiss="modal">
                <div class="lr">
                    <div class="rl"></div>
                </div>
            </div>
            <div class="container">
                <div class="row">
                    <div class="col-lg-8 col-lg-offset-2">
                        <div class="modal-body">
                            <!-- Talk Title -->
                            <h2>{{ talk.item }}</h2>
                            <hr class="star-primary">

                            <!-- Speaker(s), linked to speaker modal -->
                            {% if talk.speaker %}
                              <p class="text-muted">
                                {% for sp in talk.speaker %}
                                  <a href="#speaker_id_{{ sp | replace: " ", "_" }}" data-toggle="modal">{{ sp }}</a>{% if forloop.last == false %}, {% endif %}
                                {% endfor %}
                              </p>
                            {% endif %}

                            <!-- Abstract -->
                            <p>{{ talk.abstract }}</p>

                            <button type="button" class="btn btn-default" data-dismiss="modal">
                              <i class="fa fa-times"></i> Close
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
  {% endif %}
{% endfor %}
